<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
<nav class="navbar">
    <button class="nav-button" routerLink="/purchase-order">Ordenes</button>
    <button class="nav-button" (click)="logout()">Salir</button>
</nav>
<body>
    <div class="container">
        <form [formGroup]="validatePurchaseOrder" (ngSubmit)="onSubmit()" class="purchase-order-creation-form">
            <h2>Crear Orden de Compra</h2>
            <div formArrayName="orders">
                <div *ngFor="let order of orders().controls; let i = index" [formGroupName]="i" class="form-group order-group">
                    <label>Producto {{ i + 1 }}</label>
                    <br>
                    <input type="text" formControlName="codigo" placeholder="Código" class="form-control">
                    <input type="text" formControlName="color" placeholder="Color" class="form-control">
                    <input type="text" formControlName="talle" placeholder="Talle" class="form-control">
                    <input type="text" formControlName="cantidad" type="number" placeholder="Cantidad" class="form-control">
                    <br>
                    <button type="button" class="btn btn-danger" (click)="removeOrder(i)">Eliminar</button>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" (click)="addOrder()">Agregar Producto</button>
            <br><br>
            <button type="submit" class="btn btn-primary" [disabled]="validatePurchaseOrder.invalid">Crear</button>
            <br>
            <div *ngIf="response" class="error-message">{{response}}</div>
        </form>
    </div>
</body>
