<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<nav class="navbar">
    <button class="nav-button" routerLink="/purchase-orders">Ordenes de Compra</button>
    <button class="nav-button" (click)="logout()">Salir</button>
</nav>
<body>
    <div class="container">
        <form [formGroup]="validateOrder" (ngSubmit)="onSubmit()" class="purchase-order-modification-form">
            <h2>Editar Orden de Compra</h2>
            <div class="form-group">
                <label for="estado" class="col-label">Estado*</label>
                <input type="text" formControlName="estado" id="estado" maxlength="20" class="form-control" placeholder="Ingrese el estado" required>
                <span class="error-message" *ngIf="validateOrder.controls['estado'].invalid && validateOrder.controls['estado'].touched">
                    El estado es obligatorio
                </span>
            </div>
            <div class="form-group">
                <label for="observaciones" class="col-label">Observaciones</label>
                <input type="text" formControlName="observaciones" id="observaciones" maxlength="100" class="form-control" placeholder="Ingrese observaciones">
            </div>
            <div class="form-group">
                <label for="fechaSolicitud" class="col-label">Fecha de Solicitud*</label>
                <input type="date" formControlName="fechaSolicitud" id="fechaSolicitud" class="form-control" required>
                <span class="error-message" *ngIf="validateOrder.controls['fechaSolicitud'].invalid && validateOrder.controls['fechaSolicitud'].touched">
                    La fecha de solicitud es obligatoria
                </span>
            </div>
            <div class="form-group">
                <label for="fechaRecepcion" class="col-label">Fecha de Recepción*</label>
                <input type="date" formControlName="fechaRecepcion" id="fechaRecepcion" class="form-control" required>
                <span class="error-message" *ngIf="validateOrder.controls['fechaRecepcion'].invalid && validateOrder.controls['fechaRecepcion'].touched">
                    La fecha de recepción es obligatoria
                </span>
            </div>
            <div class="form-group">
                <label for="idTienda" class="col-label">Id de Tienda*</label>
                <input type="number" formControlName="idTienda" id="idTienda" class="form-control" placeholder="Ingrese el id de tienda" required>
                <span class="error-message" *ngIf="validateOrder.controls['idTienda'].invalid && validateOrder.controls['idTienda'].touched">
                    El id de tienda es obligatorio
                </span>
            </div>
            <button type="submit" class="btn btn-primary btn-default" id="cargar">Modificar</button>
            <br>
            <div *ngIf="response" class="error-message">{{response}}</div>
        </form>
    </div>
</body>
